@import url(variables.css);

html {
    scroll-behavior: smooth;
    overflow-x: hidden ;
}

@font-face {
    font-family: fuentePrincipal;
    src: url(/storage/fuentes/Roboto/static/RobotoSlab-Black.ttf); 
}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: fuentePrincipal;
}

.container1{
    width: 100vw;
    height: 100vh
}


.menu{

    width: 100%;
    height: 15%;
    display: flex;
    background-color: var(--color-ternario) ;
    color: var(--color-font);
    gap: 70px;
    justify-content: center;
}

.menu a{

    display: flex;
    align-items: center;
    color: var(--color-font);
    font-size: 18px
}

.menu :nth-child(4){

    margin-right: 650px;
}

.menu img{

    width: 90px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    margin-top: 27px
}

.main{

    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/storage/img/placeYourImageHere0.png");
    background-repeat: no-repeat;
    background-size: cover
    
}

.contenido{

    background-color: #323239ed;
    width: 100vw;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px
}

.texto{

    width: 35%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.titulo{

    margin-bottom: 15px;
    color: var(--color-primary);
    font-size: 30px;
    width: 80%;
}

.parrafo{

    margin-top: 5px;
    color: var(--color-font);
    font-size: 25px;
    width: 80%;
}

.boton{


    margin-top: 15px;
    height: auto;
    
}

.boton button{

    background-color: var(--color-primary);
    width: 170px;
    height: 65px;
    border: var(--color-primary);
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    color:#323239


}

.imagen img{

    width: 48vw;
    height: 77vh;
}

.main2{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17171e;

    
}

.contenido2{

    background-color: #17171e;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px
}

.texto2{

    width: 32%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.titulo2{

    margin-bottom: 15px;
    color: #fff;
    font-size: 25px;
    width: 80%;
}

.parrafo2{

    color: var(--color-font);
    font-size: 28px;
    width: 80%;
}

.imagen2 img{

    height: 700px;
    width: 700px;
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.main4{

    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17171e;
    flex-direction: column;
    
}

.cajaGaleria{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 50px

}


.cajaGaleria  img {

    margin: 15px;
    width: 380px;
    height: 400px;

    
}

.cajaTitulo{

    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    
}
.main5{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17171e;

    
}

.contenido5{

    background-color: #17171e;
    background-image: url(/storage/img/placeYourImageHereOur0.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px
}

.recuadro{

    width: 45vw;
    height: 45vh;
    background-color: #17171ed8;
    border: 10px solid var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.titulo5 h1{

    font-size: 2.5em;
    color: #fff
    
}


.parrafo5 p{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.6em;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    color: var(--color-font)


}

.main6{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #17171e;
    flex-direction: column;

}



.tituloMenu h1{

    color: var(--color-font);
    font-size: 3.5em
}

.cajaMenu{

    background-color: #17171e;
    width: 90%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.plato{

    width: 30%;
    height: 70vh;

}

.foto img{

    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-block:20px;
    width: 90%;

}

.descripcion{

    margin: 1.5vw
}

.descripcion h1{

    font-size: 1.88em;
    color: var(--color-primary);
}

.descripcion p{

    margin-top: 10px;
    font-size: 1.1em;
    color: var(--color-font)
}

.descripcion h2{

    margin-top: 13px;
    color: var(--color-primary);

}

.main7{

    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    gap: 70px

}

.fotoPlato img{

    height: 68vh;

}
.textoEnjoy{

    width: 60%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;


}

.tituloEnjoy{

    margin-bottom: 15px;
    color: var(--color-font);
    font-size: 30px;
    width: 80%;
}

.parrafoEnjoy{

    margin-top: 5px;
    color: var(--color-font);
    font-size: 27px;
    width: 80%;
}

.footer{

    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323239; 
    flex-direction: column;
    

}

.menuFooter a{

    color: var(--color-font);
    margin: 20px;
   
}

.menuFooter{

    margin: 30px 0px 30px 0px;

}

.iconos svg{

    margin: 15px
}
